@model IssueTracker.Models.Issue

<div class="container">
    <article>
        <header>
            <h2>Issue Details</h2>
        </header>

        <hr />

        <div class="row">
            <div class="col-md-1">
                @Html.ActionLink(@Model.State.State, "List", "Issue", new { @StateId = @Model.State.Id }, new { @class = "btn btn-success" })
            </div>
            <div class="col-md-6">
                <h3 class="h3-special">@Model.Title<span style="color:lightgrey"> #@Model.Id</span></h3>
            </div>

            <div class="col-md-5">
                <div class="pull-right">
                    @Html.ActionLink("Back", "Index", "Issue", null, new { @class = "btn btn-default" })
                    @if (User.IsInRole("Admin") || (User.IsInRole("Owner") && (Model.State.State.Equals("New") || Model.State.State.Equals("Open"))))
                    {
                        @Html.ActionLink("Progress this Issue", "Progress", "Issue", new { @id = Model.Id }, new { @class = "btn btn-primary" })
                    }
                    @Html.ActionLink("Add Comment", "Create", "Comment", new { @id = Model.Id }, new { @class = "btn btn btn-primary" })
                </div>
            </div>
        </div>



        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>@Model.Author.FullName</strong><span> opened this issue on </span>@Model.SubmissionDate
                @foreach (var tag in Model.Tags)
                {
                    <span>@Html.ActionLink(tag.Name, "List", "Issue", new { @TagId = tag.Id }, new { @class = "btn btn-warning btn-xs" })</span>
                }
                @if (User.IsInRole("Admin") || Model.Author.UserName.Equals(User.Identity.Name))
                {
                    <div class="btn-group pull-right top">
                        @Html.ActionLink("Edit", "Edit", "Issue", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs btn-width-xs" })
                        @Html.ActionLink("Delete", "Delete", "Issue", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs btn-width-xs" })
                    </div>
                }
                @if (@Model.AssigneeId != null)
                {
                    <div>Assignee: <strong>@Model.Assignee.FullName</strong></div>
                }
            </div>
            <div class="panel-body">
                <p2>@Model.Description</p2>
            </div>
        </div>

        <hr />

        @foreach (var comment in Model.Comments)
        {
            if (!comment.IsInternal)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@comment.Author.FullName</strong><span> commented on </span>@comment.CreatedDate
                        @if (User.IsInRole("Admin") || comment.Author.UserName.Equals(User.Identity.Name))
                        {
                            <div class="btn-group pull-right">
                                @Html.ActionLink("Edit", "Edit", "Comment", new { @id = comment.Id }, new { @class = "btn btn-success btn-xs btn-width-xs" })
                                @Html.ActionLink("Delete", "Delete", "Comment", new { @id = comment.Id }, new { @class = "btn btn-danger btn-xs btn-width-xs" })
                            </div>
                        }
                    </div>
                    <div class="panel-body">
                        <p2>@comment.Text</p2>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>@comment.Author.FullName</strong><span> moved this issue in </span><strong>@Model.State.State</strong><span> state on </span>@comment.CreatedDate
                    </div>
                </div>
            }
        }


        <footer class="pull-right">
            @Html.ActionLink("Open new Issue", "Create", "Issue", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Back to list", "Index", "Issue", null, new { @class = "btn btn-default" })
        </footer>
    </article>
</div>
