@model List<IssueTracker.Models.ListUserViewModel>
<div class=container>
    <h2>Users List</h2>
    <div>
        @Html.ActionLink("Register new user", "Register", "Account", null, new { @class = "btn btn-primary" })
        <br />
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th colspan="3">User Data</th>
                <th colspan="3">User Groups</th>
                <th></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Full Name</th>
                @foreach (var role in Model.FirstOrDefault().Roles)
                {
                    <th>@role.Name</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FullName</td>
                    @foreach (var role in user.Roles)
                    {
                        if (role.IsSelected)
                        {
                            <td>&#10004;</td>
                        }
                        else
                        {
                            <td>&#10005;</td>
                        }

                    }
                    <td>
                        @Html.ActionLink("Edit", "Edit", "User", new { @id = user.Id }, new { @class = "btn btn-primary btn-xs btn-width-xs" })
                        @Html.ActionLink("Delete", "Delete", "User", new { @id = user.Id }, new { @class = "btn btn-primary btn-xs btn-width-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
