@model IssueTracker.Models.Tag

<h3>Delete Tag</h3>
<h4>Are you sure you want to delete this tag?</h4>
<hr />

@using (Html.BeginForm("Delete", "Tag", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, null, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to list", "List", "Tag", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}
