@model List<IssueTracker.Models.Tag>

<h3>Tags list</h3>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", "Tag", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().Name)
            </th>
            <th>
                # Issues
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t => tag.Id)
                </td>
                <td>
                    @Html.DisplayFor(t => tag.Name)
                </td>
                <td>
                    @{
                        int issueCount = tag.Issues.Count();
                    }
                    @Html.DisplayFor(m => issueCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = tag.Id }, new { @class = "btn btn-primary btn-xs btn-width-xs" })
                    @Html.ActionLink("Delete", "Delete", new { id = tag.Id }, new { @class = "btn btn-primary btn-xs btn-width-xs" })
                </td>
            </tr>
         }
    </tbody>

</table>
