@model IssueTracker.Models.Comment

<h2>Create new</h2>

@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New comment for issue <span>#@Model.IssueId</span></h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @row = 4 })
                @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(m => m.IssueId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Comment" class="btn btn-primary" />
                @Html.ActionLink("Back to list", "Details", "Issue", new { @id = Model.IssueId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
