@model IssueTracker.Models.Comment

<h3>Edit comment <span>#@Model.Id</span> for issue <span>#@Model.IssueId</span></h3>
<hr />

@using (Html.BeginForm("Edit", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @rows = 4 })
                @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(m => m.AuthorId)
        @Html.HiddenFor(m => m.CreatedDate)
        @Html.HiddenFor(m => m.IssueId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                @Html.ActionLink("Back to details", "Details", "Issue", new { @id = Model.IssueId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
